@font-face{ 
	font-family: 'fabfeltscript-bold';
	src: url('Fonts/Webfont/fabfeltscript-bold.eot');
	src: url('Fonts/Webfont/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
	     url('Fonts/Webfont/fabfeltscript-bold.woff') format('woff'),
	     url('Fonts/Webfont/fabfeltscript-bold.ttf') format('truetype'),
	     url('Fonts/Webfont/fabfeltscript-bold.svg#webfont') format('svg');
}

@font-face{
    font-family: 'adobe-garamond-pro-semibold';
    src: url('Fonts/AdobeGaramondProSemibold.ttf');
}

@font-face{
    font-family: 'manifesto';
    src: url('Fonts/Manifesto.ttf');
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row-footer {
    background-color: black;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color:#fff;
}

.row-footer .list-unstyled >li>a{
    color:#fff;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #7986CB;
    color: floralwhite;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
     background: #6fcde3;       
     font-family: adobe-garamond-pro-semibold, Georgia,"Times New Roman",serif;
     
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: center;
    min-height: 72px;
    position: relative;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #6fcde3;
    box-shadow: none;
}

.navbar-inverse .navbar-brand {
    color:#fff;
    font-family: 'fabfeltscript-bold';
    font-size: 3em;
    height=30;
    width=41;
    vertical-align: middle;
    line-height: 72px;
    padding: 0px;  
    display: inline-block !important;
}


.navbar-inverse .navbar-nav >li >a{    
    color:#fff;
    font-family: 'adobe-garamond-pro-semibold';
    font-size: 1.5em;
    height=30;
    width=41;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 72px;    
}

.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #303F9F;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover{
    color: black;
     background: #6fcde3;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.navbar-form .label-custom{
    color:#eeeeee;
}